/* /////////////////////////// HEADER /////////////////////////// */
.header
{	
	position: fixed;
	top:  0px;
	left: 0px;
	z-index: 999;
	width: 100%;
	height: 40px;
	color: white;
	padding-right: 0px;
	padding-left: 0px;
	background-color: #337ab7;
	
}

.header div
{
	padding-top: 10px;
}

/* /////////////////////////// CONTENT /////////////////////////// */
.content 
{
	margin-top: 50px;
}

/* /////////////////////////// TASK /////////////////////////// */
.task
{
	margin-top: 20px;
}

/* /////////////////////////// MESSAGE /////////////////////////// */
.msg 
{
	position: fixed;
	bottom: 0px;
	z-index: 999;
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	display: none;
		
}